torchgeo
azure-storage-blob
tqdm
scikit-learn
tensorboard
black
ipykernel
azure-ai-ml
azure-storage-blob
feather-format
geopandas
azureml-core
kornia==v0.7.3
python-dotenv
optuna
pyproj
pytest
scikit-image
openpyxl
duckdb>=1.1.0
google-cloud-storage
pydantic
requests
matplotlib